
$error-color: #FF0000;
$myFont: "Some Font That Doesnt Exist", "Comic Sans", "Times New Roman";

.firstTest {
    background-color: green;

    //nesting
    span {
        color: $error-color;
    }
}

@import 'secondary.scss';